.section_footer {
  position: relative;
  background-color: #f0f0f0;
  padding: 140px 0 140px 0;
}

.container-footer {
  background-color: #f0f0f0;
}

.logo-section {
  display: flex;
  flex-flow: column;
  max-width: 248px;
}

.icons-footer-wrapper {
  display: flex;
  gap: 12px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.menu-footer-list {
  list-style: none;
}

.menu-list {
  display: flex;
  flex-flow: column;
  gap: 26px;
}

.menu-item {
  color: rgba(0, 0, 0, 0.6);
}

.title {
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 500;
}

.menu-footer-list {
  display: flex;
  flex-flow: column;
  gap: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.footer-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 22px;
}

.devider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.payments-icons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.footer-bottom-wrap {
  display: flex;
  justify-content: space-between;
}

.subscribe-subsections {
  position: absolute;
  top: -15%;
  padding: 36px 64px 36px 64px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
}

.subscribe-h3 {
  color: #f0f0f0;
  max-width: 551px;
}

.subscribe-form {
  display: flex;
  flex-flow: column;
  gap: 14px;
  min-width: 380px;
}

#email {
  padding: 15px 70px 17px 70px;
  border-radius: 50px;
  border-style: none;
}

#email::placeholder {
  text-align: center;
}

.email-sent {
  padding: 15px 0px 17px 0px;
  background-color: white;
  font-weight: 400;
  color: black;
}
